<form [formGroup]="actForm">
  <div style="background-color: rgb(231, 228, 228); padding: 20px;">
    <button pButton type="button" label="新增" class="p-button-primary" (click)="insert()" style="margin-bottom: 10px"></button>
    <table class="form-table" style="background-color: rgb(231, 228, 228)">
      <tr>
        <td>活動編號:</td>
        <td><input pInputText type="text" formControlName="activityNumber" /></td>
      </tr>
      <tr>
        <td>活動名稱:</td>
        <td><input pInputText type="text" formControlName="activityName" /></td>
      </tr>
      <tr>
        <td>里程數:</td>
        <td><input pInputText type="text" formControlName="mileage" /></td>
      </tr>
      <tr>
        <td>商品編號:</td>
        <td><input pInputText type="text" formControlName="productNumber" style="width: 100%" /></td>
      </tr>
      <tr>
        <td>刊登日期:</td>
        <td><input pInputText type="text" formControlName="postingDate" /></td>
      </tr>
      <tr>
        <td>領取日期:</td>
        <td>
          <p-calendar formControlName="receivingStartDate" dateFormat="yy-mm-dd" placeholder="起始日"></p-calendar> ~
          <p-calendar formControlName="receivingEndDate" dateFormat="yy-mm-dd" placeholder="結束日"></p-calendar>
        </td>
      </tr>
      <tr>
        <td>有效日期:</td>
        <td>
          <p-calendar formControlName="expiryStartDate" dateFormat="yy-mm-dd" placeholder="起始日"></p-calendar> ~
          <p-calendar formControlName="expiryEndDate" dateFormat="yy-mm-dd" placeholder="結束日"></p-calendar>
        </td>
      </tr>
      <tr>
        <td>圖檔檔名:</td>
        <td>
          <input type="file" (change)="onFileSelected($event)" />
        </td>
        <td><input pInputText type="text" formControlName="imageName" style="width: 100%" readonly /></td>
      </tr>
      <tr>
        <td>發送對象:</td>
        <td>
          <div *ngFor="let option of targetOptions; let i = index">
            <p-checkbox [label]="option.label" [formControlName]="i" [binary]="true"></p-checkbox>
          </div>
        </td>
      </tr>
    </table>

    <table style="width: 100%;">
      <tr>
        <td colspan="2">
          <h3>內容描述</h3>
        </td>
      </tr>
      <tr>
        <td style="width: 50%;">
          <textarea pInputTextarea class="textarea-large" rows="5" placeholder="內容說明" style="width: 100%;"></textarea>
        </td>
        <td style="width: 50%; text-align: center;">
          <img *ngIf="imagePreview" [src]="imagePreview" alt="示例圖片" style="max-width: 100%; max-height: 200px;" />
        </td>
      </tr>
    </table>

    <table style="width: 100%;">
      <tr>
        <td >
          <h3>發送對象</h3>
        </td>
      </tr>
      <tr>
        <td >
          <p-checkbox label="序號領取" formControlName="targetBySerial" [binary]="true"></p-checkbox>
        </td>
        <td  style="text-align: right;">
          <button pButton type="button" label="上傳匯入Excel" class="p-button-secondary p-button-info" (click)="uploadExcel()" style="margin-right: 10px;"></button>
          <button pButton type="button" label="下載Excel格式" class="p-button-secondary p-button-success" (click)="downloadExcel()"></button>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="width: 100%;">
          <textarea pInputTextarea rows="5" placeholder="輸入序號" style="width: 50%;"></textarea>
        </td>
      </tr>
    </table>

    <table style="width: 100%;">
      <tr>
        <td colspan="3">
          <p-table [value]="actupdatetable" styleClass="p-datatable-header">
            <ng-template pTemplate="header">
              <tr class="blue-header">
                <th>編號</th>
                <th>會員編號</th>
                <th>會員姓名</th>
                <th>生日年月</th>
                <th>區域</th>
                <th>行動電話</th>
                <th>註冊單位</th>
                <th>註冊日期</th>
                <th>最後登入日</th>
                <th>會員狀態</th>
                <th>累計消費金額</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-actupdatetable>
              <tr>
                <td>{{ actupdatetable.id }}</td>
                <td>{{ actupdatetable.memberNumber }}</td>
                <td>{{ actupdatetable.memberName }}</td>
                <td>{{ actupdatetable.birthday }}</td>
                <td>{{ actupdatetable.region }}</td>
                <td>{{ actupdatetable.mobilePhone }}</td>
                <td>{{ actupdatetable.registrationUnit }}</td>
                <td>{{ actupdatetable.registrationDate }}</td>
                <td>{{ actupdatetable.lastLoginDate }}</td>
                <td>{{ actupdatetable.memberStatus }}</td>
                <td>{{ actupdatetable.totalSpent }}</td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </table>

    <h3>共匯入:5,000筆</h3>
  </div>
</form>
