<form [formGroup]="memberDetailForm" (ngSubmit)="onSubmit()">
  <div style="background-color: rgb(231, 228, 228); padding: 20px;">
    <h2>會員詳情</h2>
    <table class="form-table" style="width: 100%; background-color: rgb(231, 228, 228);">
      <tr>
        <td class="label-cell">會員編號:</td>
        <td class="input-cell"><input pInputText type="text" formControlName="memberId" class="p-inputtext" /></td>
        <td class="label-cell">生日:</td>
        <td class="input-cell"><p-calendar formControlName="birthday" dateFormat="yy-mm-dd" placeholder="請選擇生日"></p-calendar></td>
        <td class="label-cell">性別:</td>
        <td class="input-cell">
          <ng-container *ngIf="!isCustomGender; else customGenderInput">
            <p-dropdown [options]="gender" formControlName="gender" placeholder="請選擇性別" (onChange)="checkGender()"></p-dropdown>
          </ng-container>
          <ng-template #customGenderInput>
            <input pInputText type="text" formControlName="gender" class="p-inputtext" placeholder="請輸入性別" />
          </ng-template>
        </td>
      </tr>
      <tr>
        <td class="label-cell">會員暱稱:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="nickname" class="p-inputtext" /></td>
        <td class="label-cell">密碼:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="password" class="p-inputtext" /></td>
      </tr>
      <tr>
        <td class="label-cell">會員級別:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="memberLevel" class="p-inputtext" /></td>
        <td class="label-cell">狀態:</td>
        <td colspan="2" class="input-cell"><p-dropdown [options]="memberStatus" formControlName="memberStatus" placeholder="請選擇會員狀態"></p-dropdown></td>
      </tr>
      <tr>
        <td class="label-cell">EMail:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="email" class="p-inputtext" /></td>
        <td class="label-cell">電話:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="phoneNumber" class="p-inputtext" /></td>
      </tr>
      <tr>
        <td class="label-cell">婚姻狀況:</td>
        <td colspan="2" class="input-cell"><p-dropdown [options]="maritalStatus" formControlName="maritalStatus" placeholder="請選擇婚姻狀況"></p-dropdown></td>
        <td class="label-cell">行動電話:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="mobilePhone" class="p-inputtext" (input)="onMobilePhoneInput()" /></td>
        <div *ngIf="memberDetailForm.get('mobilePhone')?.invalid && memberDetailForm.get('mobilePhone')?.touched">
          <small *ngIf="memberDetailForm.get('mobilePhone')?.errors?.['pattern']">電話號碼必須是09開頭的10位數字</small>
          <small *ngIf="memberDetailForm.get('mobilePhone')?.errors?.['maxlength']">電話號碼最多10位數</small>
        </div>
      </tr>
      <tr>
        <td class="label-cell">教育狀況:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="education" class="p-inputtext" /></td>
        <td class="label-cell">任職公司:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="company" class="p-inputtext" /></td>
      </tr>
      <tr>
        <td class="label-cell">圖檔:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="imageFile" class="p-inputtext" /></td>
        <td class="label-cell">UUID:</td>
        <td colspan="2" class="input-cell"><input pInputText type="text" formControlName="uuid" class="p-inputtext" /></td>
      </tr>
      <tr>
        <td class="label-cell">備註:</td>
        <td colspan="5" class="input-cell"><input pInputText type="text" formControlName="remarks" class="p-inputtext" /></td>
      </tr>
    </table>

    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <table class="form-table" border="3" style="width: 70%; background-color: pink;" [formGroup]="recommenderForm">
        <tr>
          <td class="label-cell">註冊日期:</td>
          <td class="input-cell"><p-calendar formControlName="registrationDate" dateFormat="yy-mm-dd" placeholder="註冊日期"></p-calendar></td>
          <td class="label-cell">註冊單位:</td>
          <td class="input-cell"><input pInputText type="text" formControlName="registrationUnit" class="p-inputtext" /></td>
        </tr>
        <tr>
          <td class="label-cell">推薦人:</td>
          <td class="input-cell"><input pInputText type="text" formControlName="recommender" class="p-inputtext" /></td>
          <td class="label-cell">推薦碼:</td>
          <td class="input-cell"><input pInputText type="text" formControlName="referralCode" class="p-inputtext" /></td>
        </tr>
      </table>
    </div>

    <table style="width: 100%; margin-top: 20px;">
      <tr>
        <td style="width: 30%;"><img src="assets/images/p2.png" alt="示例圖片" style="width: 80%;" /></td>
        <td colspan="2" style="width: 50%;">
          <p-table [value]="cartail" styleClass="p-datatable-header">
            <ng-template pTemplate="header">
              <tr class="blue-header">
                <th>車號</th>
                <th>廠牌</th>
                <th>車主姓名</th>
                <th>顏色</th>
                <th>車型</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cartail>
              <tr>
                <td>{{ cartail.carNumber }}</td>
                <td>{{ cartail.brand }}</td>
                <td>{{ cartail.ownerName }}</td>
                <td>{{ cartail.color }}</td>
                <td>{{ cartail.model }}</td>
              </tr>
            </ng-template>
          </p-table>
          <div style="text-align: center; margin-top: 20px;">
            <h5 class="mileage">累積里程數10,000km</h5>
          </div>
        </td>
        <td style="width: 20%; text-align: right; vertical-align: bottom;">
          <button pButton type="submit" label="存檔" class="p-button-success" (click)="save()"></button>
          <button pButton type="button" label="取消" class="p-button-secondary" (click)="cancel()" style="margin-left: 10px;"></button>
        </td>
      </tr>
    </table>
  </div>
</form>
