<div class="container">
  <p-sidebar
    [(visible)]="visibleSidebar"
    [baseZIndex]="10000"
    [style]="{ width: '125px', backgroundColor: '#FFFACD' }"
    [position]="'left'"
    [modal]="false"
    [showCloseIcon]="false"
  >
    <ul>
      <li (click)="navigateToMileage()">里程商品</li>
    </ul>
    <ul>
      <li (click)="navigateToSubscribe()">訂閱商品</li>
    </ul>
    <ul>
      <li (click)="navigateToMember()">會員資料</li>
    </ul>
    <ul>
      <li (click)="navigateToRights()">會員權益</li>
    </ul>
    <ul>
      <li (click)="navigateToSetmileage()">里程活動設定</li>
    </ul>
    <ul>
      <li (click)="navigateToActsend()">發送訊息</li>
    </ul>

  </p-sidebar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
